body {
    background-color: #fff700;
    text-align: center;
}

h1 {
    color: #ff00ee;
    font-family: 'Space grotesk', sans-serif;
}

p {
    color: #ff7300;
    font-family: 'Space grotesk', sans-serif;
}

img {
    border-radius: 50px;
    transition-duration: 0.5s;
}

img:hover {
    border-radius: 100px;
}