body {
    background-color: #b71dff;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Space grotesk', sans-serif;
}

p {
    color: #ffffff;
    font-family: 'Space grotesk', sans-serif;
}

img {
    border-radius: 75px;
    transition-duration: 0.7s;
}

img:hover {
    border-radius: 150px;
}

hr {
    width: 25%;
}

a {
    color: #ffffff;
    font-family: 'Space grotesk', sans-serif;
    font-size: 30px;
}